@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 33% 15%;
    --card: 0 0% 100%;
    --card-foreground: 240 33% 15%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 33% 15%;
    --primary: 276 100% 50%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 180 100% 50%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 276 100% 50%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 240 33% 15%;
    --foreground: 210 40% 98%;
    --card: 240 33% 20%;
    --card-foreground: 210 40% 98%;
    --popover: 240 33% 10%;
    --popover-foreground: 210 40% 98%;
    --primary: 276 100% 50%;
    --primary-foreground: 210 40% 98%;
    --secondary: 240 33% 25%;
    --secondary-foreground: 210 40% 98%;
    --muted: 240 33% 25%;
    --muted-foreground: 240 5% 65%;
    --accent: 180 100% 50%;
    --accent-foreground: 180 100% 15%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;
    --border: 276 100% 50%;
    --input: 240 33% 25%;
    --ring: 180 100% 50%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}
 
@layer base {
  * {
    @apply border-border/20;
  }
  body {
    @apply bg-background text-foreground;
  }
}
